<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lemon</title>
    <link rel="stylesheet" type="text/css" href="/header.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-links">
          <%navs.forEach(nav=>{%>
          <li><a href="/<%=nav%>"><%=nav%></a></li>
          <%})%>
        </ul>
      </nav>
    </header>
  </body>
</html>
