<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>existingUser</title>
    <link rel="stylesheet" type="text/css" href="/existingUser.css">
</head>
<body>
    <header><%- include('./partials/header'); %></header>
    <h1 style="text-align: center;">User already exists</h1>
</body>
</html>