body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling for the whole dashboard */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 70px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  /* Styling for the task table */
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .update{
    text-decoration: none;
    color: rgb(63, 37, 24)
  }

 
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .welcome{
    text-align: center;
    color:#4c4848;
    margin:9px;

  }
  
  /* Button styles */
  button {
    padding: 5px 10px;
    border: none;
    background-color: #bd3939;
    color: #ddd8d8;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Form styling for buttons */
  form {
    display: inline;
    margin: 0;
  }
  
  button[type="submit"] {
    background-color: rgb(120, 59, 59);
    border: none;
    color: white;
  }
  